body {
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(https://media.discordapp.net/attachments/820976935077281843/1205474225952002048/image.png?ex=65eaf55c&is=65d8805c&hm=ac7f07bb4d827fe7206410f25d42d876734e37a923a897ee11061ccee8255558&=&format=webp&quality=lossless&width=1170&height=580);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.logonav {
    width: 6vw;
    padding: 0 38px 0 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 28px;
    padding: 18px;
}

nav li:hover {
    background-color: #1D5F15;
    border-radius: 12px;
    height: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.logodois {
    width: 34rem;

}

.centro {
    margin: 46px;
    text-align: center;
}

.slogan {
    color: white;
    font-size: 2em;
    margin: 6px;
}

.botoes {
    border: solid 1px #1D5F15;
    border-radius: 20px;
    color: #ffffff;
    background-color: #1D5F15;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s;
    width: 13vw;
    height: 3vw;
    font-size: 20px;
    margin: 19px;
}

.botoes:hover {
    background-color: #1D5F15;
    color: white;
    transform: scale(1.2)
}

#rigrover-2 {
    margin-top: 220px;
    flex-direction: row;
    display: flex;
    background-color: #141414;
}

.i1t2 {
    justify-content: left;
    padding: 50px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.i2t1 {
    justify-content: right;
    padding: 50px;
    color: white;
    text-decoration: none;
    text-align: center;

}

#rigrover-3 {
    display: flex;
    flex-direction: column;
    background-color: #1C1C1C;
}

.title-nav {
    display: flex;
    align-items: center;
    color: white;
    margin: 0 auto;
}

.title-nav img {
    margin-right: 20px;
    /* Espaço entre a imagem e o texto */
}

.pictures-container {
    display: flex;
    justify-content: space-between;
    /* Para colocar as pictures-1 e pictures-2 nas extremidades */
}

.pictures-1,
.pictures-2 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
}

.avatar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.avatar-text {
    margin-left: 20px;
}

.cadmiel img,
.pedro img,
.joao img,
.thiago img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


.pictures-2 {
    margin-right: 200px;
}

.pictures-1 {
    margin-left: 175px;
}

.pictures-container h3 {
    color: #A2D96E;
    text-decoration: none;
}

.pictures-container img {
    margin: 50px;
}

#rigrover-4 {
    background-color: black;
}

.btn-question {
    border: none;
    background-color: #141414;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 15px;
    width: 700px;
    font-size: 1.5rem;
    margin-top: 30px;
    text-align: left;
}

.top-pg {
    color: white;
    text-align: center;
}

#rigrover-4 button {
    display: flex;
    flex-direction: row;
}

#rigrover-4 img {
    display: flex;
    align-items: right;
    justify-content: right;
    margin-left: auto;
    filter: invert(100%);
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    height: 50px;
    margin: 0;
}

.footer-content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.a-ft {
    color: white;
}

.footer-content a {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.invisible-input {
    border: none;
    background: transparent;
    color: transparent;
    height: 100px;
}

