body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #030304;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #020202;
    padding: 20px;
}

#btn-nav {
    text-decoration: none;
    color: #ffffff;
    font-size: 26px;
    padding: 18px;
}

nav li:hover {
    background-color: #1D5F15;
    border-radius: 12px;
    height: 100%;
    transition: .35s;
}

nav li {
    transition: .35s;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.img-logout {

    width: 46px;
}
.a-ft {
    color: white;
}

.footer-content a {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img1,
.img2 {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.img1 img {
    width: 700px;
    height: 500px;
}

.img2 img {
    width: 700px;
    height: 500px;
}

.img1 h1,
.img2 h1,
.img1 h5,
.img2 h5,
.img1 button,
.img2 button {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    margin: 0;
}

.img1 button,
.img2 button {
    cursor: pointer;
}

.img1 h1,
.img2 h1 {
    bottom: 20%;
    left: 10px;
}

.img1 h5,
.img2 h5 {
    top: 79%;
    left: 10px;
    transform: translateY(50%);
}

.img1 button,
.img2 button {
    bottom: 10px;
    left: 10px;
}

.images-evt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ler-mais {
    text-decoration: none;
    color: white;
}

footer {
    background-color: #121212;
    color: white;
    flex-direction: row;
    display: flex;
  }
  
  footer li {
    list-style: none;
    padding: 0 0px 11px 0;
    font-size: 1.7vw;
  }
  
  footer li, a {
    text-decoration: none;
    color: white;
    text-align: left;
  }
  
  .img-footer-logo {
    width: 15vw;
  }

  .redes-footer img {
    width: 4vw;
    padding: 0 11px 0 0;
}
  
  .cont-2,
  .cont-1 {
    padding: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
  }
  
  .icon {
    display: none;
}

    #myLinks {
    display: none;
}