body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #0C0B0B;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;

}

#btn-nav {
    text-decoration: none;
    color: #ffffff;
    font-size: 26px;
    padding: 18px;
}

nav li:hover {
    background-color: #1D5F15;
    border-radius: 12px;
    height: 100%;
    transition: .35s;
}

nav li {
    transition: .35s;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.img-logout {

    width: 46px;
}

.a-ft {
    color: white;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    color: white;
    font-size: 1.5rem;
}

.noticias {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.noticias>div {
    width: calc(70.33% - 20px);
    margin: 10px;
    background-color: #1B1E25;
    border: 1px solid #8D8D8D;
    border-radius: 5px;
    padding: 30px;
    position: relative;
}


.noticias h4,
.noticias p {
    text-align: left;
    margin: 0;
    padding: 5px;
    color: white;
}

.pergunta .descricao p {
    width: 600px;
}


h4 {
    width: 500px;
}

h6 {
    color: #6f6f6f;
}

.titulo-pergunta {
    color: white;
    font-weight: bold;
}

.pergunta img {
    width: 20px;
    height: auto;
}


.elements-csv {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.numero-elementos {
    color: #8f8f8f !important;
}


.numero-elementos,
img {
    vertical-align: middle;
    width: 30px;
}

img {
    width: 20px;
    height: auto;
    margin-left: 5px;
}

.ultima-mensagem {
    color: #8f8f8f !important;

}

footer {
    background-color: #121212;
    color: white;
    flex-direction: row;
    display: flex;
  }
  
  footer li {
    list-style: none;
    padding: 0 0px 11px 0;
    font-size: 1.7vw;
  }
  
  footer li, a {
    text-decoration: none;
    color: white;
    text-align: left;
  }
  
  .img-footer-logo {
    width: 15vw;
  }

  .redes-footer img {
    width: 4vw;
    padding: 0 11px 0 0;
}
  
  .cont-2,
  .cont-1 {
    padding: 50px;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
  }
  
  .icon {
    display: none;
}

    #myLinks {
    display: none;
}

.criar-pergunta{
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;
    font-size: 1.2rem;
}

.criar-pergunta textarea {
    background-color: #1B1E25;
    width: 600px;
    height: 100px;
    color: white;
    border-radius: 10px;
}

.btn-criar {
    width: 70%;
    margin: 20px auto 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #6DFB5C;
    border: none;
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
}

.titulo-criar {
    margin-right: 20px
}