body {
    font-family: "Lora", serif;
    background-color: #0e0e0e;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

nav {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#btn-nav {
    text-decoration: none;
    color: #ffffff;
    font-size: 26px;
    padding: 18px;
}

nav li:hover {
    background-color: #1D5F15;
    border-radius: 12px;
    height: 100%;
    transition: .35s;
}

nav li {
    transition: .35s;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.img-logout {
    width: 46px;
}

.a-ft {
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.evt-ct {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    color: white;
}

.venda1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightvenda1 {
    padding-left: 15px;
}

.undervenda1 {
    padding-top: 50px;
}

.leftvenda1 {
    padding-right: 15px;
}

.rightvenda1,
.leftvenda1 {
    padding-top: 50px;
}

.rightevento1 h5 {
    text-align: justify;
    font-size: 1.2rem;
}

h2 {
    text-align: center;
    font-size: 37px;
}



.img1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.rightevento1 {
    width: 57rem;
    padding-left: 10vw;
}

.leftevento1 {
    padding-right: 15px;
}

.rightevento1 h2 {
    font-size: 2.5vw;
    text-align: start;
}


.imgevento {
    width: 50vw;
    margin: 22px;
}

.ticket {
    margin-top: 40px;
}

.btn-voltar {
    background-color: #313131;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 45px;
    font-size: 18px;
    cursor: pointer;
    width: 31vw;
    height: 4vw;
    border-radius: 5px;
    text-decoration: none;
}

.btn-voltar-mi {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #121212;
    color: white;
    flex-direction: row;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

footer li {
    list-style: none;
    padding: 0 0px 11px 0;
    font-size: 1.7vw;
}

footer li,
a {
    text-decoration: none;
    color: white;
    text-align: left;
}

.img-footer-logo {
    width: 15vw;
}

.redes-footer img {
    width: 4vw;
    padding: 0 11px 0 0;
}

.cont-2,
.cont-1 {
    padding: 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}

.icon {
    display: none;
}

#myLinks {
    display: none;
}