body {
    font-family: "Lora", serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #0C0B0B
}

.content {
    background-color: #0C0B0B;
}

nav {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#btn-nav {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    padding: 18px;
}

nav li:hover {
    background-color: #1D5F15;
    border-radius: 12px;
    height: 100%;
    transition: .35s;
}

nav li {
    transition: .35s;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.img-logout {

    width: 46px;
}

.a-ft {
    color: white;
}

.square-gm {
    width: 100px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
}


.square-gm img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hollow-knight .square-gm img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.jogos-dstq,
.jogos-gst {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}


h2, h5 {
    color: white;
    margin: 10px;
}

#content {
    background-color: rgb(20, 20, 20);
    width: 100%;
    padding-top: 10px;
}

footer {
    background-color: #121212;
    color: white;
    flex-direction: row;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

footer li {
    list-style: none;
    padding: 0 0px 11px 0;
    font-size: 1.7vw;
}

footer li,
a {
    text-decoration: none;
    color: white;
    text-align: left;
}

.img-footer-logo {
    width: 15vw;
}

.redes-footer img {
    width: 4vw;
    padding: 0 11px 0 0;
    cursor: pointer;
}

.cont-2,
.cont-1 {
    padding: 50px;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}

.icon {
    display: none;
}

#myLinks {
    display: none;
}