body {
    font-family: "Lora", serif;
    margin: 0;
    padding: 0;
}

/* --------------Dropdown-----------------  */

.dropdown {
    max-width: 13em;
    position: relative;
  }
.dropdown:hover {
    background-color: #1D5F15;
    border-radius: 12px;
    height: 100%;
    transition: .35s;
}

  .dropdown-btn {
    font-size: 25px;
    width: 100%;
    border: none;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px 0;
    border-radius: 0.5em;
    cursor: pointer;
  }

  .dropdown-btn span {
    margin: 0px 10px 0 0;
    padding: 0px;
    font-size: 27px;
}

  .arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: transform ease-in-out 0.3s;
  }

  .dropdown-content {
    list-style: none;
    position: absolute;
    top: 3.2em;
    width: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
  }

  .dropdown.open .dropdown-content {
    visibility: visible;
    opacity: 1;
  }

  .dropdown.open .dropdown-content {
    visibility: visible;
    opacity: 1;
    background: #1d5f15;
    border-radius: 10px;
}

.dropdown-content li:hover {
    background: #0e3207;
    border-radius: 0;
}

  .dropdown-content li a {
    font-size: 17px;
    width: 11rem;
    display: block;
    padding: 0.7em 0.5em;
    color: #fff;
    margin: 0.1em 0;
    text-decoration: none;
}
  /* ---------------------------------------------  */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: "Segoe UI", sans-serif;
    color: #333;
  }

  nav {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#btn-nav {
    text-decoration: none;
    color: #ffffff;
    font-size: 26px;
    padding: 0 14px 0 14px;
}

nav li:hover {
    background-color: #1D5F15;
    border-radius: 12px;
    height: 100%;
    transition: .35s;
}

nav li {
    transition: .35s;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.rigrover-1 {
    background-image: url('../img/background-hardware.png');
    background-repeat: no-repeat, repeat;
    background-size: auto;
    min-height: 40vw;
}

.tudo {
    background: rgb(25,11,49);
    background: linear-gradient(180deg, rgba(25,11,49,1) 0%, rgba(76,35,151,1) 100%);
}

.custom-dropbtn {
    color: white;
    border: none;
    cursor: pointer;
    width: 40px;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
}

.custom-dropbtn:hover {
    background: #1D5F15;
    border-radius: 12px;
    transition: .35s;
}

.custom-dropdown-content {
    display: none;
    position: absolute;
    background-color: #1e1e1e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 6px;
}

.custom-dropdown-content a {
    color: rgb(253, 253, 253);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.custom-dropdown-content a:hover {
    background-color: #353535;
}

.custom-dropdown.show .custom-dropdown-content {
    display: block;
}

.img-logout {
    width: 46px;
}

.logodois {
    width: 40rem;
    margin: 0 66px 0 0;
}

.centro {
    margin: 8em;
    text-align: center;
}

.slogan {
    color: white;
    font-size: 2.2em;
    margin: 8px;
}


.faq-container h1 {
    text-align: center;
    color: white;
    padding: 0px 0 16px;
}

.faq-item {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-item:last-child {
    border-bottom: none;
}

.faq-question {
    color: #ffffff;
    background-color: #1b1c1e;
    padding: 20px;
    font-weight: bold;
    font-size: 1.1rem;
    user-select: none;
}

.faq-answer {
    color: #ffffff;
    line-height: 1.5;
    font-size: 17px;
    transition: all 0.3s ease;
}

.faq-answer.collapsing {
    transition: height 0.3s ease;
    height: 0;
    opacity: 0;
}


.faq-container {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.faq-item {
    margin-bottom: 10px;
    cursor: pointer;
}

.faq-answer {
    display: none;
    padding: 5px;
    background-color: #2a2d30;
}

.hardware {
    background-color: #292330;
    padding: 20px;
}

.eventos {
    background-color: #171521;
    padding: 20px;
}

.games {
    background-color: #0A090E;
    padding: 20px;
}

.hardware,
.eventos,
.games {
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.hardware h3,
.eventos h3,
.games h3 {
    color: #fff;
}

.hardware p,
.eventos p,
.games p {
    color: #fff;
    margin-bottom: 10px;
}

.hardware a,
.eventos a,
.games a {
    color: #fff;
    background-color: #2980b9;
    text-decoration: none;
    border-radius: 5px;
    width: 180px;
    padding: 10px;
    margin-top: 10px;
    align-self: center;
}

.hardware a:hover,
.eventos a:hover,
.games a:hover {
    background-color: #2c3e50;
}

.hardware img,
.games img,
.eventos img {
    width: 800px;
    height: 400px;
    padding-top: 10px;
}


.hardware {
    background-color: #252330;
    padding: 20px;
}

.eventos {
    background-color: #171521;
    padding: 20px;
}

.games {
    background-color: #0A090E;
    padding: 20px;
}

.hardware img,
.games img,
.eventos img {
    width: 800px;
    height: 400px;
    padding-top: 10px;
}

.descbr,
.divrig {
    color: white;
    text-align: center;
    padding: 15px;
}

#coluna-categoria {
    display: table-column;
}

h2 {
    text-align: center;
    text-align: justify;
    margin: 0 0 15px 6vw;
}

.titulo_categoria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categoria_foto {
    width: 25rem;
    height: auto;
    padding: 10px;
    border-radius: 35px;
}

.categorias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categoria_conteudo {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 15px;
    background: #1010102f;
    border-radius: 13px;
    margin: 5px;
}

.categoria_conteudo2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    background: #1010102f;
    border-radius: 13px;
    margin: 5px;
}

.categoria_texto_conteudo {
    width: 41rem;
    padding: 10px;
}

.categoria_texto_conteudo h2 {
    margin: 2vw 0px;
    font-size: 1.7vw;
}

.categoria_texto_conteudo p {
    font-size: 1.2rem;
    margin: 10px 0;
    width: 29rem;
}

.categoria_div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

.categoria_div2 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

.categoria_div3 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
}

#hardware {
    flex-direction: row-reverse;
}

#a-btn-categorias button {
    cursor: pointer;
}


#btn-categorias button {
    background-color: #1C552F;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin: 15px 0;
}

#btn-categorias button:hover {
    background-color: #1A473D; /* Cor de fundo quando o botão é hover */
}

button {
    cursor: pointer;
}

footer {
    background-color: #121212;
    color: white;
    flex-direction: row;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

footer li {
    list-style: none;
    padding: 0 0px 11px 0;
    font-size: 1.7vw;
}

footer li,
a {
    text-decoration: none;
    color: white;
    text-align: left;
}

.img-footer-logo {
    width: 15vw;
}

.redes-footer img {
    width: 4vw;
    padding: 0 11px 0 0;
    cursor: pointer;
}

.cont-2,
.cont-1 {
    padding: 50px;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}

.icon {
    display: none;
}

#myLinks {
    display: none;
}

