body {
    font-family: "Lora", serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #121212
}

.content {
    background-color: #0C0B0B;
}

nav {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#btn-nav {
    text-decoration: none;
    color: #ffffff;
    font-size: 26px;
    padding: 18px;
}

nav li:hover {
    background-color: #1D5F15;
    border-radius: 12px;
    height: 100%;
    transition: .35s;
}

nav li {
    transition: .35s;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.img-logout {
    width: 46px;
}

.a-ft {
    color: white;
}

input[type="text"] {
    width: 48%;
    margin: 20px auto 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #6DFB5C;
    border: none;
    font-size: 16px;
    display: block;
}

input[type="text"]::placeholder {
    color: #2e2e2e;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
}

.categories {
    text-align: center;
    margin-bottom: 20px;
    background-color: #D9D9D9;
    border-radius: 5px;
    padding: 10px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.categories button {
    cursor: pointer;
}

.categories button {
    background-color: #CFAAAA;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
}

h3 {
    color: white;
    font-size: 1.8rem;
    margin: 20px;
}

.noticias {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.noticias>div {
    width: calc(70.33% - 20px);
    margin: 10px;
    background-color: #1B1E25;
    border: 1px solid #8D8D8D;
    border-radius: 5px;
    padding: 30px;
    position: relative;
}

.noticias img {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.noticias h4,
.noticias p {
    text-align: left;
    margin: 0;
    padding: 5px;
    color: white;
}

p {
    width: 600px;
}

h4 {
    width: 500px;
}

.noticia-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.noticia-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    padding: 20px;
    background-color: #1B1E25;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.noticia-content img {
    float: left;
    margin-right: 20px;
    max-width: 40%;
    border-radius: 10px;
    width: 3500px;
    height: 400px;
}

.noticia-content h2 {
    font-size: 24px;
    margin-top: 0;
    color: white;
}

.noticia-content p {
    font-size: 16px;
    line-height: 1.5;
    width: 1000px;
    color: white;
}

.noticia-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #1D1D1D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
}

footer {
    background-color: #121212;
    color: white;
    flex-direction: row;
    display: flex;
}

footer li {
    list-style: none;
    padding: 0 0px 11px 0;
    font-size: 1.7vw;
}

footer li,
a {
    text-decoration: none;
    color: white;
    text-align: left;
}

.img-footer-logo {
    width: 15vw;
}

.redes-footer img {
    width: 4vw;
    padding: 0 11px 0 0;
}

.cont-2,
.cont-1 {
    padding: 50px;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}

.icon {
    display: none;
}

#myLinks {
    display: none;
}

.criar-noticia {
    border-radius: 14px;
    width: 48vw;
    height: 35vw;
    background-color: #557251;
    text-align: center;
    margin: 38px;
    padding: 10px;
}

textarea {
    resize: none;
    padding: 10px;
    border: none;
}

.criar-noticia textarea {
    margin: 5px;
    background-color: #1B1E25;
    width: 300px;
    height: 100px;
    color: white;
    border-radius: 10px;
}

.btn-criar {
    width: 70%;
    margin: 20px auto 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #6DFB5C;
    border: none;
    font-size: 16px;
    display: block;
    margin-bottom: 20px;
    cursor: pointer;
}



.tipo-criar select {
    margin: 10px;
    width: calc(66% - 48px);
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background-color: #1B1E25;
    color: white;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(https://cdn-icons-png.flaticon.com/512/60/60995.png);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.tipo-criar select {
    display: flex;
    margin: 8px auto;
}

.tipo-criar select option:checked {
    background-color: #3F4451;
}


.noticias label {
    color: white;
}

.btn-form-adm {
    width: 48%;
    margin: 20px auto 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #3c3846;
    border: none;
    font-size: 16px;
    display: block;
    cursor: pointer;
    color: white;
}

.btn-crud, .btn-crud2 {
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    cursor: pointer;
}

.btn-crud {
    background-color: lime;
}

.btn-crud2 {
    background-color: red;
    margin-left: 10px;
}