body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #1B1E25;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0C0B0B;
    padding: 20px;
}

#btn-nav {
    text-decoration: none;
    color: #ffffff;
    font-size: 26px;
    padding: 18px;
}

nav li:hover {
    background-color: #1D5F15;
    border-radius: 12px;
    height: 100%;
    transition: .35s;
}

nav li {
    transition: .35s;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.img-logout {

    width: 46px;
}



#header h1 {
    color: white;
    text-decoration: underline;
}

#voltar {
    color: white;
    background-image: url('https://cdn-icons-png.flaticon.com/512/60/60577.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 25px center;
    padding-left: 50px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#form-mensagem {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35%;
}


#mensagem {
    width: calc(100% - 100px);
    padding: 10px;
    margin: 0;
    border: none;
    color: #fff;
}

#mensagem::placeholder {
    color: #fff;
}

#form-mensagem input {
    padding: 10px 20px;
    background-color: #0C0B0B;
    color: #fff;
    border: none;
}

footer {
    background-color: #121212;
    color: white;
    margin-top: 100px;
    height: 350px;
}

.footer-content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.a-ft {
    color: white;
}

.footer-content a {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-footer {
    width: 15vw;
    padding: 10px;
}

.tudo-footer {
    float: left;
    width: 80%;
    margin: 0 10%;
    padding: 5em 0;
}

.conteudo-footer {
    width: 49%;
    float: left;
    display: grid;
    margin: 14px;
    place-items: center;
}

.conteudo-footer li {
    text-align: left;
}

.conteudo2-footer {
    width: 49%;
    float: left;
    display: grid;
    place-items: flex-start;
    margin: 3vw 0 0;
}

footer ul {
    list-style: none;
}

footer li {
    padding: 1vw 0 0 2vw;
    font-size: 1.3em;
    list-style: none;
}

footer a {
    color: white;
    text-decoration: none;
}

.redes-footer {
    place-items: center;
}

.redes-footer img {
    width: 4vw;
    padding: 0 10px 0 0;
}

.mensagem {
    color: white;
}
