body {
  font-family: "Lora", serif;
  background-color: #2c2c2c;
  color: white;
  margin: 0;
}

nav {
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262626;
  
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 28px;
  padding: 18px;
}

nav li:hover {
  background-color: #1D5F15;
  border-radius: 12px;
  height: 100%;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.texto p {
  text-align: justify;
  margin: 2vw;
  font-size: 19px;
}

.texto h2 h3 {
  margin: 10px;
}