body {
  font-family: 'Josefin Sans', sans-serif;
  background-image: url('https://cdn.discordapp.com/attachments/1097493454545764472/1219239931101188147/fundosite_1.png?ex=660a94ab&is=65f81fab&hm=7956625120ccaeacec16502b9ad7a3ab570c436556963c58204e70a8e43a7667&');
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 28px;
  padding: 18px;
}

nav li:hover {
  background-color: #1D5F15;
  border-radius: 12px;
  height: 100%;
  transition: .35s;
}

nav li {
  transition: .35s;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.logodois {
  width: 40rem;
  margin: 0 66px 0 0;
}

.centro {
  margin: 8em;
  text-align: center;
}

.slogan {
  color: white;
  font-size: 2.2em;
  margin: 8px;
}

.botoes {
  border: solid 1px #1D5F15;
  border-radius: 20px;
  color: #ffffff;
  background-color: #1D5F15;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s;
  width: 15vw;
  height: 3vw;
  font-size: 22px;
  margin: 19px;
  cursor: pointer;
}

.botoes:hover {
  background-color: #1D5F15;
  color: white;
  transform: scale(1.2);
}

#rigrover-2 {
  margin-top: 220px;
  flex-direction: row;
  display: flex;
  background-color: #141414;
}

.i1t2,
.i2t1 {
  padding: 50px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.i1t2 {
  justify-content: left;
}

.i2t1 {
  justify-content: right;
}

.i1t2 p,
.i2t1 p {
  text-align: justify;
  font-size: 1.3rem;
}

#rigrover-3 {
  display: flex;
  flex-direction: column;
  background-color: #1C1C1C;
}

.title-nav {
  display: flex;
  align-items: center;
  color: white;
  margin: 0 auto;
}

.title-nav img {
  padding: 3vw;
}

.pictures-container {
  display: flex;
  justify-content: space-between;
}

.pictures-1,
.pictures-2 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
}

.avatar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.avatar-text {
  margin-left: 20px;
}

.cadmiel img,
.pedro img,
.joao img,
.thiago img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.pictures-2 {
  margin-right: 200px;
}

.pictures-1 {
  margin-left: 175px;
}

.pictures-container h3 {
  color: #A2D96E;
  text-decoration: none;
}

.pictures-container img {
  margin: 50px;
}

#rigrover-4 {
  background-color: black;
  padding: 3rem;
}

.btn-question {
  border: none;
  background-color: #141414;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 15px;
  width: 700px;
  font-size: 1.5rem;
  margin-top: 30px;
  text-align: left;
}

#rigrover-4 button {
  display: flex;
  flex-direction: row;
}

#rigrover-4 img {
  display: flex;
  align-items: right;
  justify-content: right;
  margin-left: auto;
  filter: invert(100%);
  cursor: pointer;
}

footer {
  background-color: #121212;
  color: white;
}

.footer-content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.a-ft {
  color: white;
}

.footer-content a {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.img-footer {
  width: 15vw;
  padding: 10px;
}

.tudo-footer {
  float: left;
  width: 80%;
  margin: 0 10%;
  padding: 5em 0;
}

.conteudo-footer {
  width: 49%;
  float: left;
  display: grid;
  margin: 14px;
  place-items: center;
}

.conteudo-footer li {
  text-align: left;
}

.conteudo2-footer {
  width: 49%;
  float: left;
  display: grid;
  place-items: flex-start;
  margin: 3vw 0 0;
}

footer ul {
  list-style: none;
}

footer li {
  padding: 1vw 0 0 2vw;
  font-size: 1.3em;
  list-style: none;
}

footer a {
  color: white;
  text-decoration: none;
}

.redes-footer {
  place-items: center;
}

.redes-footer img {
  width: 4vw;
  padding: 0 10px 0 0;
}

.faq-container h1 {
  text-align: center;
  color: white;
  padding: 0px 0 16px;
}

.faq-item {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.faq-item:last-child {
  border-bottom: none;
}

.faq-question {
  color: #ffffff;
  background-color: #1b1c1e;
  padding: 20px;
  font-weight: bold;
  font-size: 1.1rem;
  user-select: none;
}

.faq-answer {
  color: #ffffff;
  line-height: 1.5;
  font-size: 17px;
  transition: all 0.3s ease;
}

.faq-answer.collapsing {
  transition: height 0.3s ease;
  height: 0;
  opacity: 0;
}


.faq-container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.faq-item {
  margin-bottom: 10px;
  cursor: pointer;
}

.faq-answer {
  display: none;
  padding: 5px;
  background-color: #2a2d30;
}
