@media only screen and (max-width: 320px) {
    .icon {
        display: block;
    }
    
        #myLinks {
        display: block;
    }
    

    body {
        background-size: 100vw 92vw;
    }

    .icon {
        display: block;
    }
    
        #myLinks {
        display: block;
    }
    
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }
  

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 25px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
  

    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        padding: 15px;
        top: 0;
    }
  

    .topnav a:hover {
        background-color: #121413;
        color: white;
    }

    .active {
        background-color: #121413;
        color: white;
    }

    .active {
        pointer-events: none; 
        cursor: default; 
    }

    /* Esconder a navbar tradicional */
    nav.navbar {
        display: none;
    }

    footer {
        flex-direction: column;
    }

    .img-footer-logo {
        width: 40vw;
    }

    footer li {
        font-size: 5.7vw;
        padding: 0 0 15px 0;
        
    }
    
    .redes-footer img {
        width: 13vw;
    }

    .cont-2, .cont-1 {
        padding: 16px;
    }

}

@media only screen and (max-width: 480px) and (min-width: 319px) {
    .icon {
        display: block;
    }
    
        #myLinks {
        display: block;
    }
    

    body {
        background-size: 100vw 92vw;
    }

    .icon {
        display: block;
    }
    
        #myLinks {
        display: block;
    }
    
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }
  

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 25px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
  

    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        padding: 15px;
        top: 0;
    }
  

    .topnav a:hover {
        background-color: #121413;
        color: white;
    }

    .active {
        background-color: #121413;
        color: white;
    }

    .active {
        pointer-events: none; 
        cursor: default; 
    }

    /* Esconder a navbar tradicional */
    nav.navbar {
        display: none;
    }

    footer {
        flex-direction: column;
    }

    .img-footer-logo {
        width: 34vw;
    }

    footer li {
        font-size: 4.7vw;
        padding: 0 0 15px 0;
    }
    
    .redes-footer img {
        width: 11vw;
    }

    .cont-2, .cont-1 {
        padding: 16px;
    }

}

@media only screen and (min-width: 481px) and (max-width: 718px) {

}

@media only screen and (max-width: 768px) and (min-width: 719px) {
    .icon {
        display: block;
    }
    
        #myLinks {
        display: block;
    }
    

    body {
        background-size: 100vw 92vw;
    }

    .icon {
        display: block;
    }
    
        #myLinks {
        display: block;
    }
    
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }
  

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 25px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
  

    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        padding: 15px;
        top: 0;
    }
  

    .topnav a:hover {
        background-color: #121413;
        color: white;
    }

    .active {
        background-color: #121413;
        color: white;
    }

    .active {
        pointer-events: none; 
        cursor: default; 
    }

    /* Esconder a navbar tradicional */
    nav.navbar {
        display: none;
    }

    footer li {
        font-size: 2.5vw;
    }

    .redes-footer img {
        width: 6vw;
    }

    .img-footer-logo {
        width: 18vw;
    }
}

@media only screen and (max-width: 900px) and (min-width: 767px) {

}

@media only screen and (max-width: 1024px) and (min-width: 901px) {

}

@media only screen and (max-width: 1200px) and (min-width: 1023px) {

}
@media only screen and (min-width: 1024px)  {
}