@media only screen and (max-width: 320px) {
    .icon {
        display: block;
    }
    
        #myLinks {
        display: block;
    }
    

    body {
        background-size: 100vw 92vw;
    }

    .icon {
        display: block;
    }
    
        #myLinks {
        display: block;
    }
    
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }
  

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 25px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
  

    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        padding: 15px;
        top: 0;
    }
  

    .topnav a:hover {
        background-color: #121413;
        color: white;
    }

    .active {
        background-color: #121413;
        color: white;
    }

    .active {
        pointer-events: none; 
        cursor: default; 
    }

    /* Esconder a navbar tradicional */
    nav.navbar {
        display: none;
    }

    body {
        margin: 0px;
    }
    .centro {
        margin: 1em;
        text-align: center;
    }

    .logodois {
        width: 17rem;
        margin: 0 66px 0 0;
    }

    .slogan {
        color: white;
        font-size: 1.2em;
        margin: 8px;
    }

    .botoes {
        border: solid 1px #1D5F15;
        border-radius: 20px;
        color: #ffffff;
        background-color: #1D5F15;
        transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s;
        width: 45vw;
        height: 13vw;
        font-size: 15px;
        margin: 10px;
        cursor: pointer;
    }

    #rigrover-2 {
        flex-direction: column-reverse;
    }

    .i1t2, .i2t1 {
        padding: 7vw;
    }

    .img-index1 {
        width: 78vw;
    }

    .img-index2 {
        width: 78vw;
        height: 66vw;
    }

    .pictures-container {
        justify-content: space-between;
        flex-direction: column;
    }

    .title-nav {
        flex-direction: column;
    }

    #equipe-desenvolvedora {
        text-align: center;
    }

    .pictures-1 {
       margin-left: 0;
    }

    .pictures-2 {
        margin-right: 0;
    }
    .avatar {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }

    footer li {
        padding: 4vw 0px 2px 0vw;
        font-size: 21px;
    }

    .img-footer-logo {
        width: 41vw;
    }

    .conteudo-footer {
        width: 0;
        float: none;
        display: none;
        place-items: center;
        flex-direction: column;
        padding: 13px;
    }

    .redes-footer {
        place-items: center;
        display: flex;
    }

    .redes-footer img {
        width: 14vw;
        padding: 0px 5px 0 0;
    }

    .conteudo2-footer {
        display: none;
        width: 0;
        margin: 0 10px 0 40px;
        padding: 11px;
        flex-direction: column;
        place-items: center;
    }
    
}

@media only screen and (max-width: 480px) and (min-width: 319px) {
    .icon {
        display: block;
    }
    
        #myLinks {
        display: block;
    }
    

    body {
        background-size: auto;
    }

    .icon {
        display: block;
    }
    
        #myLinks {
        display: block;
    }
    
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }
  

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 7% 6%;
        text-decoration: none;
        font-size: 15px;
        display: block;
        width: 6vw;
    }

    div#myLinks a {
        width: 100%;
        font-size: 18px;
    }
  

    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        padding: 15px;
        top: 0;
    }
  

    .topnav a:hover {
        background-color: #121413;
        color: white;
    }

    .active {
        background-color: #121413;
        color: white;
    }

    .active {
        pointer-events: none; 
        cursor: default; 
    }

    /* Esconder a navbar tradicional */
    nav.navbar {
        display: none;
    }

    body {
        margin: 0px;
    }

    .logodois {
        width: 20rem;
        margin: 0 63px 0 0;
    }

    #rigrover-2 {
        margin-top: 0px;
    }

    .centro {
        margin: 0em;
        text-align: center;
    }

    .logodois {
        width: 17rem;
        margin: 0 66px 0 0;
    }

    .slogan {
        color: white;
        font-size: 1.2em;
        margin: 8px;
    }

    .botoes {
        width: 45vw;
        height: 13vw;
        font-size: 18px;
        margin: 10px;
    }

    #rigrover-2 {
        flex-direction: column-reverse;
    }

    .i1t2, .i2t1 {
        padding: 7vw;
    }

    .img-index1 {
        width: 78vw;
    }

    .img-index2 {
        width: 78vw;
        height: 46vw;
    }

    .i2t1 p {
        width: 74vw;
    }

    .pictures-container {
        justify-content: space-between;
        flex-direction: column;
    }

    .title-nav {
        flex-direction: column;
    }

    #equipe-desenvolvedora {
        text-align: center;
    }

    .pictures-1 {
       margin-left: 0;
    }

    .pictures-2 {
        margin-right: 0;
    }
    .avatar {
        flex-direction: column;
    }

    .redes-sociais img, a {
        margin: 4px;
        width: 8vw;
        cursor: pointer;
    }
    

    .app-icon2 {
        width: 47vw;
    }

    .app-icon h1 {
        font-size: 8vw;
        width: 125vw;
    }

    .app-right img {
        display: none;
    }

    .rirgrover-app {
        display: flex;
        flex-direction: column-reverse;
        background-size: 125%;
        height: auto;
    }

    .app-icon {
        width: 52vw;
    }

    .app-left {
       padding-left: 0;
    }
    .app-left, .app-right {
        display: ruby;
    }

    footer {
        flex-direction: column;
    }

    footer li {
        padding: 4vw 0px 2px 0vw;
        font-size: 21px;
    }

    .img-footer-logo {
        width: 41vw;
    }

    .conteudo-footer {
        width: 0;
        float: none;
        display: none;
        place-items: center;
        flex-direction: column;
        padding: 13px;
    }

    .redes-footer {
        place-items: center;
        display: flex;
    }

    .redes-footer img {
        width: 14vw;
        padding: 0px 5px 0 0;
    }

    .conteudo2-footer {
        display: none;
        width: 0;
        margin: 0 10px 0 40px;
        padding: 11px;
        flex-direction: column;
        place-items: center;
    }

}

@media only screen and (min-width: 481px) and (max-width: 718px) {
    .icon {
        display: block;
    }
    
        #myLinks {
        display: block;
    }
    

    body {
        background-size: 100vw 92vw;
    }

    .icon {
        display: block;
    }
    
        #myLinks {
        display: block;
    }
    
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }
  

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 25px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
  

    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        padding: 15px;
        top: 0;
    }
  

    .topnav a:hover {
        background-color: #121413;
        color: white;
    }

    .active {
        background-color: #121413;
        color: white;
    }

    .active {
        pointer-events: none; 
        cursor: default; 
    }

    /* Esconder a navbar tradicional */
    nav.navbar {
        display: none;
    }

    body {
        margin: 0px;
    }

    .logodois {
        width: 20rem;
        margin: 0 63px 0 0;
    }

    #rigrover-2 {
        margin-top: 50px;
    }

    .centro {
        margin: 1em;
        text-align: center;
    }

    .logodois {
        width: 17rem;
        margin: 0 66px 0 0;
    }

    .slogan {
        color: white;
        font-size: 1.2em;
        margin: 8px;
    }

    .botoes {
        width: 45vw;
        height: 13vw;
        font-size: 18px;
        margin: 10px;
    }

    #rigrover-2 {
        flex-direction: column-reverse;
    }

    .i1t2, .i2t1 {
        padding: 7vw;
    }

    .img-index1 {
        width: 78vw;
    }

    .img-index2 {
        width: 78vw;
        height: 46vw;
    }

    .pictures-container {
        justify-content: space-between;
        flex-direction: column;
    }

    .title-nav {
        flex-direction: column;
    }

    #equipe-desenvolvedora {
        text-align: center;
    }

    .pictures-1 {
       margin-left: 0;
    }

    .pictures-2 {
        margin-right: 0;
    }
    .avatar {
        flex-direction: column;
    }


    footer {
        flex-direction: column;
    }

    footer li {
        padding: 4vw 0px 2px 0vw;
        font-size: 21px;
    }

    .img-footer-logo {
        width: 41vw;
    }

    .conteudo-footer {
        width: 0;
        float: none;
        display: none;
        place-items: center;
        flex-direction: column;
        padding: 13px;
    }

    .redes-footer {
        place-items: center;
        display: flex;
    }

    .redes-footer img {
        width: 14vw;
        padding: 0px 5px 0 0;
    }

    .conteudo2-footer {
        display: none;
        width: 0;
        margin: 0 10px 0 40px;
        padding: 11px;
        flex-direction: column;
        place-items: center;
    }

}

@media only screen and (max-width: 768px) and (min-width: 719px) {
    .icon {
        display: block;
    }
    
        #myLinks {
        display: block;
    }
    

    body {
        background-size: 100vw 92vw;
    }

    .icon {
        display: block;
    }
    
        #myLinks {
        display: block;
    }
    
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }
  

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 25px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
  

    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        padding: 15px;
        top: 0;
    }
  

    .topnav a:hover {
        background-color: #121413;
        color: white;
    }

    .active {
        background-color: #121413;
        color: white;
    }

    .active {
        pointer-events: none; 
        cursor: default; 
    }

    /* Esconder a navbar tradicional */
    nav.navbar {
        display: none;
    }

    body {
        margin: 0px;
    }

    .logodois {
        width: 20rem;
        margin: 0 63px 0 0;
    }

    #rigrover-2 {
        margin-top: 50px;
    }

    .centro {
        margin: 1em;
        text-align: center;
    }

    .logodois {
        width: 17rem;
        margin: 0 66px 0 0;
    }

    .slogan {
        color: white;
        font-size: 1.2em;
        margin: 8px;
    }

    .botoes {
        width: 45vw;
        height: 13vw;
        font-size: 18px;
        margin: 10px;
    }

    #rigrover-2 {
        flex-direction: column-reverse;
    }

    .i1t2, .i2t1 {
        padding: 7vw;
    }

    .img-index1 {
        width: 78vw;
    }

    .img-index2 {
        width: 78vw;
        height: 46vw;
    }

    .pictures-container {
        justify-content: space-between;
        flex-direction: column;
    }

    .title-nav {
        flex-direction: column;
    }

    #equipe-desenvolvedora {
        text-align: center;
    }

    .pictures-1 {
       margin-left: 0;
    }

    .pictures-2 {
        margin-right: 0;
    }
    .avatar {
        flex-direction: column;
    }


    footer {
        flex-direction: column;
    }

    footer li {
        padding: 4vw 0px 2px 0vw;
        font-size: 21px;
    }

    .img-footer-logo {
        width: 21vw;
    }

    .conteudo-footer {
        width: 0;
        float: none;
        display: none;
        place-items: center;
        flex-direction: column;
        padding: 13px;
    }

    .redes-footer {
        place-items: center;
        display: flex;
    }

    .redes-footer img {
        width: 14vw;
        padding: 0px 5px 0 0;
    }

    .conteudo2-footer {
        display: none;
        width: 0;
        margin: 0 10px 0 40px;
        padding: 11px;
        flex-direction: column;
        place-items: center;
    }

}

@media only screen and (max-width: 900px) and (min-width: 767px) {
    .logodois {
        width: 32rem;
        margin: 0 66px 0 0;
    }

    .botoes {
        width: 25vw;
        height: 5vw;
        font-size: 25px;
        margin: 10px;
    }

    #rigrover-2 {
        flex-direction: column-reverse;
        display: flex;
    }

    .i1t2 p, .i2t1 p {
        font-size: 1.3rem;
    }

    .i1t2, .i2t1 {
        padding: 31px 18px 6px 18px;
    }
    .img-index1 {
        width: 450px;
    }

    .img-index2 {
        width: 450px;
        height: 250px;
    }
    
    .pictures-1 {
        margin-left: 0;
    }
    
    .pictures-2 {
        margin-right: 44px;
    }

    .pictures-container img {
        margin: 15px;
    }

    .thiago img {
        width: 150px;
        height: 150px;
    }

    .pedro img {
        width: 150px;
        height: 150px;
    }

    .joao img {
     width: 150px;
     height: 150px;
    }

    .cadmiel img {
        width: 150px;
        height: 150px;
    }
    
    .conteudo2-footer {
        width: 0%;
        float: left;
        display: grid;
        place-items: flex-start;
        margin: 3vw 0 0;
    }

    .redes-footer {
        place-items: center;
        display: flex;
    }

    .img-footer {
        width: 19vw;
        padding: 3px;
    }

    .redes-footer img {
        width: 6vw;
        padding: 0 11px 0 0;
    }
    
    footer li {
        padding: 1.6vw 0 0 2vw;
    } 

}

@media only screen and (max-width: 1024px) and (min-width: 901px) {
    .slogan {
        font-size: 1.8em;
    }
    .botoes {
        width: 16vw;
        height: 6vw;
        font-size: 17px;
        margin: 20px;
    }

    .i1t2 p, .i2t1 p {
        text-align: justify;
        font-size: 1.1rem;
    }

    .img-index1 {
        width: 378px;
    }

    container img {
        margin: 37px;
    }

    .img-index2 {
        width: 378px;
        height: 232px;
    }

    .i1t2, .i2t1 {
        padding: 26px;
    }

    .pictures-1 {
        margin-left: 0;
    }

    .conteudo2-footer {
        width: 0;
    }

    .redes-footer {
        place-items: center;
        display: flex;
    }

    .img-footer {
        width: 17vw;
        padding: 10px;
    }

    .redes-footer img {
        width: 5vw;
        padding: 0 10px 0 0;
    }

    footer li {
        padding: 1.4vw 0 0 2vw;
        font-size: 1.4em;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 1023px) {

}

@media only screen and (min-width: 1024px)  {
    .logodois {
        width: 46rem;
        margin: 0 66px 0 0;
    }

    .botoes {
        width: 20vw;
        height: 4vw;
        font-size: 31px;
    }

    .i2t1 p {
        font-size: 21px;
    }

   .img-index2 {
        width: 40vw;
        height: 80%;
    }
   
    .i1t2, .i2t1 {
        padding: 50px;
    }

    h1#equipe-desenvolvedora {
        font-size: 2.3vw;
    }
    

    .title-nav img {
        padding: 2vw;
        width: 18vw;
    }

    .avatar {
        font-size: 20px;
    }

    .thiago img {
        width: 200px;
        height: 200px;
    }

    .pedro img {
        width: 200px;
        height: 200px;
    }

    .joao img {
        width: 200px;
        height: 200px;
    }

    .cadmiel img {
        width: 200px;
        height: 200px;
    }

    .app-icon {
        width: 23vw;
    }

    .app-icon2 {
        width: 20vw;
        padding: 0 0 0 66%;
    }

    .img-footer {
        width: 13vw;
    }

    .redes-footer img {
        width: 4vw;
        padding: 0 12px 0 0;
    }

    footer li {
        padding: 1vw 0 0 2vw;
        font-size: 1.5em;
    }    

    
}