@media only screen and (max-width: 320px) {
    .icon {
        display: block;
    }
    
        #myLinks {
        display: block;
    }
    

    body {
        background-size: 100vw 92vw;
    }

    .icon {
        display: block;
    }
    
        #myLinks {
        display: block;
    }
    
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }
  

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 25px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
  

    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        padding: 15px;
        top: 0;
    }
  

    .topnav a:hover {
        background-color: #121413;
        color: white;
    }

    .active {
        background-color: #121413;
        color: white;
    }

    .active {
        pointer-events: none; 
        cursor: default; 
    }

    /* Esconder a navbar tradicional */
    nav.navbar {
        display: none;
    }

    input[type="text"] {
        width: 75%;
    }

    .categories {
        padding: 10px;
        width: 76%;
        display: flex;
        flex-direction: column;
    }

    .categories button {
        padding: 13px 31px;
        margin: 2px;
    }

    button.btn-hardware {
        width: 46vw;
    }

    .noticias h4 {
        font-size: 5vw;
        width: 40vw;
    }

    .noticias p {
        display: none;
    }

    .noticias img {
        top: 9px;
        right: 2px;
        width: 100px;
        height: 100px;
    }

    .fechar {
        color: white;
    }

    .noticia-content img {
        width: 45vw;
        height: 32vw;
    }

    .noticia-content p {
        font-size: 15px;
        width: 86vw;
        text-align: justify;
    }

    .noticia-content h2 {
        font-size: 20px;
        margin-top: 0;
        color: white;
    }

    .noticia-content {
        padding: 26px;
    }

    .noticia-content button {
        padding: 10px 23px;
        font-size: 16px;
    }

    footer {
        flex-direction: column;
    }

    .img-footer-logo {
        width: 40vw;
    }

    footer li {
        font-size: 5.7vw;
        padding: 0 0 15px 0;
        
    }
    
    .redes-footer img {
        width: 13vw;
    }

    .cont-2, .cont-1 {
        padding: 16px;
    }

    /* ------ADM------- */
    .criar-noticia {
        display: flex;
        flex-direction: column;
    }

    h2.titulo-pergunta {
        font-size: 12px;
        width: 42vw;
    }
}

@media only screen and (max-width: 480px) and (min-width: 319px) {
    .icon {
        display: block;
    }
    
        #myLinks {
        display: block;
    }
    

    body {
        background-size: 100vw 92vw;
    }

    .icon {
        display: block;
    }
    
        #myLinks {
        display: block;
    }
    
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }
  

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 25px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
  

    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        padding: 15px;
        top: 0;
    }
  

    .topnav a:hover {
        background-color: #121413;
        color: white;
    }

    .active {
        background-color: #121413;
        color: white;
    }

    .active {
        pointer-events: none; 
        cursor: default; 
    }

    /* Esconder a navbar tradicional */
    nav.navbar {
        display: none;
    }

    input[type="text"] {
        width: 75%;
    }

    .categories {
        padding: 10px;
        width: 76%;
        display: flex;
        flex-direction: column;
    }

    .categories button {
        padding: 13px 31px;
        margin: 2px;
    }

    button.btn-hardware {
        width: 46vw;
    }

    .noticias h4 {
        font-size: 5vw;
        width: 40vw;
    }

    .noticias p {
        display: none;
    }

    .noticias img {
        top: 13px;
        right: 2px;
        width: 100px;
        height: 100px;
    }

    .fechar {
        color: white;
    }

    .noticia-content img {
        width: 45vw;
        height: 32vw;
    }

    .noticia-content p {
        font-size: 15px;
        width: 86vw;
        text-align: justify;
    }

    .noticia-content h2 {
        font-size: 20px;
        margin-top: 0;
        color: white;
    }

    .noticia-content {
        padding: 26px;
    }

    .noticia-content button {
        padding: 10px 23px;
        font-size: 16px;
    }

    footer {
        flex-direction: column;
    }

    .img-footer-logo {
        width: 37vw;
    }

    footer li {
        font-size: 4.7vw;
        padding: 0 0 15px 0;
    }
    
    .redes-footer img {
        width: 11vw;
    }

    .cont-2, .cont-1 {
        padding: 16px;
    }

    /* --------ADM-------- */
    .criar-noticia {
        display: flex;
        flex-direction: column;
    }

    .criar-noticia textarea {
        background-color: #1B1E25;
        width: 323px;
        height: 98px;
        color: white;
        border-radius: 10px;
    }   

    h2.titulo-pergunta {
        font-size: 16px;
        width: 37vw;
    }
}

@media only screen and (min-width: 481px) and (max-width: 718px) {
    /* --------ADM-------- */
    .criar-noticia {
        display: flex;
        flex-direction: column;
    }

    .criar-noticia textarea {
        background-color: #1B1E25;
        width: 356px;
        height: 97px;
        color: white;
        border-radius: 10px;
    }

    h2.titulo-pergunta {
        font-size: 16px;
        width: 37vw;
    }

}

@media only screen and (max-width: 768px) and (min-width: 719px) {
    .icon {
        display: block;
    }
    
        #myLinks {
        display: block;
    }
    

    body {
        background-size: 100vw 92vw;
    }

    .icon {
        display: block;
    }
    
        #myLinks {
        display: block;
    }
    
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }
  

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 25px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
  

    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        padding: 15px;
        top: 0;
    }
  

    .topnav a:hover {
        background-color: #121413;
        color: white;
    }

    .active {
        background-color: #121413;
        color: white;
    }

    .active {
        pointer-events: none; 
        cursor: default; 
    }

    /* Esconder a navbar tradicional */
    nav.navbar {
        display: none;
    }

    input[type="text"] {
        width: 70%;
    }

    .noticias p {
        font-size: 12px;
        width: 55vw;
    }

    h4 {
        width: 460px;
    }

    .noticia-content p {
        width: 81vw;
        text-align: justify;
    }

    .noticia-content img {
        width: 3500px;
        height: 253px;
    }

    .noticia-content button {
        margin-top: 20px;
        padding: 17px 23px;
        font-size: 15px;
    }

    /* --------ADM-------- */
    .criar-noticia {
        display: flex;
        flex-direction: column;
    }
    
    .criar-noticia textarea {
        background-color: #1B1E25;
        width: 714px;
        height: 106px;
        color: white;
        border-radius: 10px;
    }

    h2.titulo-pergunta {
        font-size: 16px;
        width: 37vw;
    }

}

@media only screen and (max-width: 900px) and (min-width: 767px) {
    .icon {
        display: block;
    }
    
        #myLinks {
        display: block;
    }
    

    body {
        background-size: 100vw 92vw;
    }

    .icon {
        display: block;
    }
    
        #myLinks {
        display: block;
    }
    
    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
    }
  

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        color: white;
        padding: 25px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }
  

    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        padding: 15px;
        top: 0;
    }
  

    .topnav a:hover {
        background-color: #121413;
        color: white;
    }

    .active {
        background-color: #121413;
        color: white;
    }

    .active {
        pointer-events: none; 
        cursor: default; 
    }

    /* Esconder a navbar tradicional */
    nav.navbar {
        display: none;
    }

    input[type="text"] {
        width: 70%;
    }

    .noticias p {
        font-size: 12px;
        width: 55vw;
    }

    h4 {
        width: 460px;
    }

    .noticia-content p {
        width: 81vw;
        text-align: justify;
    }

    .noticia-content img {
        width: 3500px;
        height: 253px;
    }

    .noticia-content button {
        margin-top: 20px;
        padding: 17px 23px;
        font-size: 15px;
    }

    /* --------ADM-------- */
    .criar-noticia {
        display: flex;
        flex-direction: column;
    }
    
    .criar-noticia textarea {
        background-color: #1B1E25;
        width: 714px;
        height: 106px;
        color: white;
        border-radius: 10px;
    }

    h2.titulo-pergunta {
        font-size: 16px;
        width: 37vw;
    }

}

@media only screen and (max-width: 1024px) and (min-width: 901px) {
    input[type="text"] {
        width: 70%;
    }

    .noticia-content img {
        float: left;
        margin-right: 20px;
        max-width: 40%;
        border-radius: 10px;
        width: 26vw;
        height: 253px;
    }

    .noticia-content p {
        width: 78vw;
    }

     /* --------ADM-------- */

    .criar-noticia {
        display: flex;
        flex-direction: row;
        color: white;
        text-align: center;
        font-size: 1.2rem;
        padding-top: 0px;
        margin: 51px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 1023px) {

}
@media only screen and (min-width: 1024px)  {
}